{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Register | KBI Student Union{% endblock title %}
    </head>
    <body>
        {% block content %}
        <div class="container">
            <h1><strong> Register as Member </strong></h1>
            <br>
            <form action="/register/" method="POST"  class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-primary">Sign Up</button>
            </form>
        </div>
        {% endblock content %}
    </body>
</html>