{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Enter event{% endblock title %}</title>
	</head>
	<body>
		{% block content %}
		<div class="container">
			<h1><strong>{{event.name}}</strong></h1>
			<h3>{{event.location}}</h3>
			<h5>{{event.date}} {{event.start_time|time:"H:i"}} - {{event.end_time|time:"H:i"}}</h5>
			<br><br>
			<div class="row">
				<div class="col-md-9 border-right">
					<p>{{event.description}}</p>
				</div>
				<div class="col-md-3">
					<p><strong>{{event.entrants.count}}</strong> entrants in this event</p>
					<button class="btn btn-primary" onclick =  'location.href="{% url 'enter' event.id %}"'>Enter</button>
				</div>
			</div>
		</div>
		{% endblock content %}
	</body>
</html>