{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Events | KBI Student Union{% endblock title %}
	</head>
	<body>
		{% block content %}

		<h2><strong>All events</strong></h2>
		<h4>View all events and sign yourself up here.</h4>

		{% if events_list %}
		{% for event in events_list %}
		
		<div class="card border-secondary my-3">
			<div class="card-body">
				<h4 class="card-title"><strong>{{event.name}}</strong></h4>
				<p>{{event.date}} @ {{event.location}}, {{event.start_time|time:"H:i"}} - {{event.end_time|time:"H:i"}}</p>
				<p class="card-text" style="overflow: hidden">
				{{event.description}}
				</p>
				<a class="btn btn-primary" onclick="location.href='detail/{{event.id}}'">Details</a>
			</div>
		</div>
		
		{% endfor %}
		{% else %}
		<div class="container my-5 text-center">
			Sorry, there are no current events.<br><strong>Check back soon!</strong>
		</div>
		{% endif %}
		{% endblock content %}
	</body>
</html>