{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Home | KBI Student Union{% endblock title %}</title>
    </head>
	<body>
        {% block content %}
        <div class=home-banner>
                <h1><strong>STUDENT UNION</strong></h1>
                <h1>Kampus Baru Indonesia</h1>
        </div>
        
        <!-- 
	        {% if user.is_authenticated %}
                <p class="display-4">Hello, {{ user.username }}</p>
                <a class="btn btn-primary" href="myevents">My Events</a>
	        {% else %}
                <a class="youshalllogin" href="{% url 'login' %}">Log in</a>
	        {% endif %}
        -->
        
            <h4><strong>Upcoming Events</strong></h4>
            {% for upcoming_events in events %}
                <ul style="list-style-type:none">
                    <li> {{ upcoming_events.name }} </li>
                    <li> {{ upcoming_events.description }} </li>
                    <li> {{ upcoming_events.date }} </li>
                </ul>
            {% endfor %}
            <h4><strong>Recent News</strong></h4>
            {% for recent_news in news %}
                <div class=block-recent-news>
                    <ul style="list-style-type:none">
                        <li> <h5> <strong> {{ recent_news.tittle }} </strong> </h5> </li>
                        <li> {{ recent_news.date }} </li>
                        <a class="btn btn-primary" href="news">Read More</a>
                    </ul>
                </div>
            {% endfor %}
		{% endblock content %}
	</body>
</html>